input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

form#searchform {

  div.input-group {
    display: grid;
    grid-template-columns: repeat( 5, 1fr );
    grid-template-rows: auto;
    grid-template-areas: 
    "search-input search-input search-input search-input search-btn";
    align-items: stretch;
    width: 100%;
    height: 48px;
    border-radius: 4px 0 0 4px;
    @include prefix( box-shadow, 0 1px 4px 0 rgba( #0ef, 0 ), o moz webkit );
  }

  input#s {
    grid-area: search-input;
    @include prefix( box-shadow, 0 1px 4px 0 rgba( #0ef, 0 ), o moz webkit );

    &:focus {
      @include prefix( box-shadow, 0 1px 4px 0 rgba( #0ef, .4 ), o moz webkit );
    }
  }

  button#searchsubmit {
    grid-area: search-btn;
    border-radius: 0 4px 4px 0;
    margin-left: -3px;
    @include font-size( 1.2 );
    @include prefix( transition, all .3s ease-in-out, o moz webkit );

    &:hover {
      background: #0ee;
      color: #ffffff;
    }
  }
}