// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Marcellus SC', serif;
// font-family: 'Cinzel', serif;
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Marcellus+SC&display=swap');
$font__main: 'Marcellus SC', serif;
$font__main_raleway: 'Raleway', sans-serif;
$font__cinzel_dec: 'Cinzel Decorative', cursive;
$font__cinzel: 'Cinzel', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.4;
