form.wonka-contact-form {

	ul.gform_fields {

		li.wonka-form-group {
			position: relative;
			padding: 0;

			.charleft.ginput_counter {
				background: #fff;
				text-align: right;
				padding: 0 8px;
				font-weight: 300;
				position: absolute;
				bottom: 2px;
				right: 8px;
				font-size: .8rem;
				line-height: 1;
			}
		}

		li.contact-name {


			> div {
				display: grid;
				grid-gap: 15px;
				width: 100%;
			}
		}
	}
}