.img-cta-wrap {
	position: relative;
	display: grid;

	.cta-message {
		position: absolute;
		justify-self: start;
		text-align: center;
		padding: 8px 15px;
		margin-left: 5%;
		bottom: 20%;
		border-radius: 4px;
		background: rgba( #000, .8 );
		@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .6 ), o moz webkit );

		header.header-cta-message {
			padding: 8px;
			color: #fafafa;
		}

		a {
			text-transform: uppercase;
			margin-bottom: 15px;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .6 ), o moz webkit );
		}
	}
}

div.inner-loop {

	> section {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-auto-rows: auto;
		grid-template-areas:
		"section-title search-box"
		"content-in-section content-in-section";

		div.page-content {
			grid-area: content-in-section;
		}
	}
	
	article.hentry {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 150px minmax(65px,80px) minmax(80px,95px) 65px;
		grid-template-areas:
		"module-image"
		"module-header"
		"module-content"
		"module-footer";
		justify-self: auto;
		@include prefix( box-shadow, 0 1px 4px 0 rgba( #000, .6 ), o moz webkit );

		.post-thumbnail {
			grid-area: module-image;
			margin: 0;
			max-height: 150px;
		}

		header.entry-header {
			grid-area: module-header;
			padding: 8px;

			h1 {
				margin: 0 0 8px;
			}
		}

		.page-content,
		.entry-content,
		.entry-summary {
			grid-area: module-content;
			grid-template-columns: unset;
			grid-template-rows: 0 100% 0;
			grid-auto-flow: unset;
			padding: 8px;

			p {
			  	margin: 0;
	      		margin-block-start: 0;
	      		margin-block-end: 0;
			}
		}

		footer.entry-footer {
			grid-area: module-footer;
		  	align-items: center;
			padding: 8px;
		}

		@include media-breakpoint( md ) {
		  grid-template-rows: 150px minmax(65px,80px) minmax(80px,95px) 65px;
		}
	}
}

section.front-page-section {
	width: 100%;
	background-position: center center;
	background-size: cover;

	div.section-content {
		padding: 15px;
	}
}