#page {
	position: relative;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
	grid-template-rows: 150px auto 80px;
	grid-template-areas: 
	"header header header header"
	"main main main sidebar"
	"footer footer footer footer";
}

#masthead {
	grid-area: header;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

main#main {
	grid-area: main;
}

aside#secondary {
	grid-area: sidebar;
}

footer#colophon {
	position: relative;
	grid-area: footer;
	text-align: center;
	
}
