/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba( 0, 0, 0, .4); 
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #52abf6; 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #78bdf7; 
}

#page {
	position: relative;
	min-height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	overflow-x: hidden;
}

main#main {

	section.not-found {
		padding: 0 15px;
	}
}

.sticky {
	display: block;
}

article.hentry {
	overflow-x: hidden;

	header.entry-header {

		div.post-thumbnail {

			img {
				height: auto;
			    max-height: 600px;
			    width: 100%;
			    max-width: 100%;
			    object-fit: cover;
			}
		}

		h1.entry-title:not( .inner-loop .entry-title ) {
			padding: 15px;
		}

		hr {
			margin: 0 30px;
		}
	}
}

.updated:not(.published) {
	display: none;
}

img.wonkasoft-logo-cover {
	margin: auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer.entry-footer {
	grid-area: edit-link;
  	align-items: center;
	padding: 15px;

	span {
		display: block;
	}
}

.page-content,
.entry-content,
.entry-summary {
	padding: 15px;

	searchform.search-form-container {
	    display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	hr {
		margin: 30px 0;
	}
}

header.page-header {
	padding: 0 15px;
}

footer#colophon {
	padding: 15px;
	display: grid;
	position: relative;
	align-items: center;
	align-self: end;
	text-align: center;
	background: #fde;
	@include prefix( box-shadow, 0 1px 4px 0 rgba( #000, .6 ), o moz webkit );

	.site-info {
		display: inline-grid;
		grid-auto-columns: auto;
		grid-auto-flow: row;

		.copyright-text {
			justify-self: center;
		}

		.sep {
			display: none;
			justify-self: center;

			@include media-breakpoint( md ) {
				display: inline-block;
			}
		}

		.website-credit-text {
			justify-self: center;
		}

		@include media-breakpoint( md ) {
			grid-template-columns: auto 15px auto;
			grid-auto-flow: column;

			.copyright-text {
				justify-self: end;
			}

			.website-credit-text {
				justify-self: start;
			}
		}
	}
}