#page {
	position: relative;
	min-height: 100%;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer#colophon {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	
}
