/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba( 0, 0, 0, .4); 
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #52abf6; 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #78bdf7; 
}

#page {
	position: relative;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
	grid-template-rows: 140px auto 80px;
	grid-template-areas: 
	"header header header header"
	"main main main main"
	"footer footer footer footer";
	grid-gap: 15px 15px;
}

header#masthead {
	grid-area: header;
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
	grid-template-rows: 20px 50px 70px;
	grid-template-areas: 
	"header-number header-number header-number header-number"
	"header-menu header-menu header-menu header-menu"
	". header-branding header-branding .";
	grid-gap: 8px 15px;
}

div.contact-number {
	grid-area: header-number;
	display: grid;
	align-items: center;
	text-align: center;
	height: 25px;

	span.contact-number-text {
		display: inline-block;
	}
}

div.site-branding {
	grid-area: header-branding;

	div.site-title {
		grid-area: header-title;
		text-transform: uppercase;
		text-align: center;

		a {
			position: relative;
			display: inline-block;
			color: #333333;

			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				bottom: 5px;
				border-radius: 25%;
				left: 0;
				width: 0;
				height: 3px;
				background: #999;
				@include prefix( transition, all .3s ease-in-out, o moz webkit );
				@include prefix( box-shadow, 0 1px 2px 0 rgba( #000, 0 ), o moz webkit );
			}

			&:hover {
				text-decoration: none;

				&:after {
					width: 100%;
					@include prefix( box-shadow, 0 1px 2px 0 rgba( #000, .2 ), o moz webkit );
				}
			}

			h2 {
				margin: 0;
			}
		}
	}

	div.site-description {
		grid-area: header-description;
		text-transform: uppercase;
		text-align: center;
	}
}

main#main {
	grid-area: main;
}

.sticky {
	display: block;
}

article.hentry {
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
	grid-template-rows: auto auto 35px;
	grid-template-areas: 
	"page-image page-image page-image page-image"
	"main-content main-content main-content sidebar"
	"edit-link edit-link edit-link sidebar";
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	grid-area: main-content;
	padding: 0 15px;
}

div.post-thumbnail {
	grid-area: page-image;
	max-height: 550px;
	overflow: hidden;
	display: grid;
	align-content: center;
	margin: 15px 0;
	@include prefix( box-shadow, 0 1px 4px 0 rgba( #000, .6 ), o moz webkit );
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer.entry-footer {
	grid-area: edit-link;
  align-items: center;
	padding: 15px;
}

footer#colophon {
	position: relative;
	grid-area: footer;
	display: grid;
	align-items: center;
	text-align: center;
	background: #fde;
	@include prefix( box-shadow, 0 1px 4px 0 rgba( #000, .6 ), o moz webkit );
}
